html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.01);
    font-family: Arial, Helvetica, sans-serif;
}
#mainnavbar {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    max-width: 1300px;
    margin: auto;
    border-bottom-color: black;
}
.title {
    padding-left: 10px;
    color: #fff;
}
#sub-nav {
    display: flex;
}
#sub-nav ul li {
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
#sub-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.listlogin {
    border: 2px #fff solid;
}
.link-signup {
    background-color: palegreen;
    padding: 5px 10px;
}



#main-domain {
    background-color: peachpuff;
    max-width: 1300px;
    margin: auto;
    text-align: center;
    height: 100vh;
}
.domain-heading {
    font-weight: 700;
    font-size: 1.3rem;
    padding: 10px 0;
}
.main-domain input {
    padding: 10px 30px;
    flex-grow: 8;
}
.main-domain button {
    padding: 10px;
    background-color: blue;
    color: #fff;
    font-size: 0.9rem;
    flex-grow: 1;
}
.domain-flex {
    display: flex;
    padding: 20px;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}
.domain-flex input {
    padding: 0 30px;
    margin-right: 5px;
}
.domain-flex button {
    margin-left: 5px;
}
.radio-flex {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}

#pack-info {
    text-align: center;
    padding: 20px 0;
    height: 15vh;
}



#about-domain {
    background-color: paleturquoise;
    max-width: 1260px;
    margin: auto;
    padding: 20px;
}
.about-domain h3 {
    padding: 5px 0;
}
.about-domain h1 {
    padding-bottom: 10px;
}
.about-domain p {
    padding-bottom: 10px;
}

.cloud-info {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.cloud-flex {
    padding: 5px;
    background-color:darkgray;
    margin: 5px;
    align-items: stretch;
}
.cloud-flex h1 {
    padding: 20px 0;
}
.cloud-flex p {
    max-width: 180px;
    margin: auto;
    padding: 20px 0;
    text-align: center;
}

.hosting-plans {
    max-width: 1260px;
    margin: auto;
    text-align: center;
}
.hosting-plans h1 {
    font-size: 1.8rem;
    padding: 60px 10px 20px 10px;
}
.hostingp {
    max-width: 650px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.flex-clouding {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.flex-subclouding {
    justify-content: space-around;
    max-width: 350px;
    margin: auto;
    flex-wrap: wrap;
}
.flex-subclouding p {
    max-width: 200px;
    margin: auto;
    padding-bottom: 40px;
}
.flex-subclouding ul {
    list-style: none;
}
.flex-subclouding ul li h4 {
    padding: 20px 10px;
}

.cloud-features {
    max-width: 1260px;
    margin: auto;
    text-align: center;
}
.cloud-features h3 {
    padding: 40px 0 0 20px;
}
.cloud-features h1 {
    padding-bottom: 60px;
    padding-top: 10px;
}
.features-flex {
    display: flex;
    justify-content: space-around;
}
.sub-features {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#testimonial {
    max-width: 1260px;
    margin: auto;
    text-align: center;
}

.testimonial h3 {
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 1rem;
}
.testimonial h1 {
    padding-top: 10px;
    padding-bottom: 40px;
}
.testimonial p {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.testimonial h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 1rem;
}
.testimonial h4 {
    padding-top: 5px;
    font-size: .8rem;
    padding-bottom: 60px;
}
.footer-flex {
    max-width: 1260px;
    margin: auto;
    display: flex;
}
.subfooter {
    padding: 10px 20px;
    max-width: 200px;
    margin: auto;
}
.subfooter h2 {
    padding-bottom: 40px;
}
.subfooter h4 {
    padding: 10px 0;
}
.hostingplans, .links, .information {
    max-width: 150px;
    margin: auto;
}
.copyright {
    max-width: 1260px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
}