html {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 128, 0.6);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px rgba(0, 0, 128, 0.4) solid;
    z-index: 1;
}
#mainnavbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    max-width: 1300px;
    margin: auto;
    background-color: #fff;
}
.title {
    padding-left: 10px;
    color: #333;
    background-color: #fff;
}
#sub-nav {
    display: flex;
    background-color: #fff;
}
#sub-nav ul li {
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    background-color: #fff;
}
#sub-nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
}
#sub-nav ul li a:hover {
    color: blue;
}
.listlogin {
    border: 2px #fff solid;
}
.link-signup {
    background-color: rgba(0, 255, 255);
    padding: 5px 10px;
}



#main-domain {
    max-width: 1300px;
    margin: auto;
    text-align: center;
    height: 100vh;    
}
.domain-heading {
    font-weight: 700;
    font-size: 1.3rem;
    padding: 10px 0;
    color: #fff;
}

.main-domain input {
    padding: 20px 30px;
    background-color: rgba(0, 0, 128, 0.1);
    flex-grow: 8;
    border: 1px #fff solid;
    color: #fff;
}
.main-domain button {
    padding: 10px;
    color: #fff;
    font-size: 0.9rem;
    flex-grow: 1;
    background-color: rgba(0, 255, 255);
    border: none;
    font-size: 1.4;
}
.domain-flex {
    display: flex;
    padding: 20px;
    justify-content: center;
    max-width: 600px;
    margin: auto;
}
.domain-heading {
    padding-top: 300px;
    font-size: 2rem;
}
.domain-flex button:hover {
    cursor: pointer;
}
.domain-flex input {
    padding: 0 30px;
    margin-right: 5px;
}
.domain-flex button {
    margin-left: 5px;
}
.price {
    padding-right: 20px;
    color: #fff;
}
.radio-flex {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: auto;
}

#pack-info {
    text-align: center;
    padding: 20px 0;
    height: 20vh;
    background-color: #fff;
}
.pack-info h2 {
    padding: 40px 0;
}
.pack {
    background-color: #fff;
}



#about {
    background-color: #fff;
}
#about-domain {
    max-width: 1260px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
}
.about-domain h3 {
    padding: 5px 0;
}
.about-domain h1 {
    padding-bottom: 10px;
}
.about-domain p {
    padding-bottom: 10px;
}

.cloud-info {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    

}
.cloud-flex {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 8px;
    align-items: stretch;
    border-radius: 10px;
}

.cloud-flex h1 {
    padding: 20px 0;
}
.cloud-flex p {
    max-width: 180px;
    margin: auto;
    padding: 20px 0;
    text-align: center;
}

.hosting-plans {
    max-width: 1260px;
    margin: auto;
    text-align: center;
}
.hosting-plans h1 {
    font-size: 1.8rem;
    padding: 60px 10px 20px 10px;
}
.hosting-title {
    color: #fff;
}
.hostingp {
    max-width: 650px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
}

.basic-cloud {
    justify-content: flex-start;
}
.cloud-vps {
    transform: translateY(4.17%);
}
.advanced-cloud {
    transform: translateY(4.2%);
}

.flex-clouding {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.flex-subclouding {
    justify-content: space-around;
    align-items: flex-start;
    max-width: 350px;
    margin: auto;
    flex-wrap: wrap;
    background-color: #fff;
}
.flex-subclouding p {
    max-width: 200px;
    margin: auto;
    padding-bottom: 40px;
}
.flex-subclouding ul {
    list-style: none;
}
.flex-subclouding ul li h4 {
    padding: 20px 10px;
}
.cloud-mainfeatures {
    background-color: #fff;
}

.cloud-features {
    max-width: 1260px;
    margin: auto;
    text-align: center;
}
.cloud-features h3 {
    padding: 40px 0 0 20px;
    color: rgba(0, 0, 255, 0.3);
}
.cloud-features h1 {
    padding-bottom: 60px;
    padding-top: 10px;
}
.features-flex {
    display: flex;
    justify-content: space-around;
}
.sub-features {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: start;
}
.features-top {
    margin: 10px 0;
    padding: 10px;
    border: 2px rgba(0, 0, 0, 0.1) solid;
}
.sub {
    padding-top: 30px;
    border: 2px rgba(0, 0, 0, 0.1) solid;
    margin: 10px 0;
    padding: 10px;
}
.testi {
    background-color: rgba(255, 255, 255, 0.89);
    color: #333;
}

#testimonial {
    max-width: 1260px;
    margin: auto;
    text-align: center;
}

.testimonial h3 {
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 1rem;
    color: rgba(0, 0, 255, 0.3);
}
.testimonial h1 {
    padding-top: 10px;
    padding-bottom: 40px;
}
.testimonial p {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.testimonial h2 {
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 1rem;
}
.testimonial h4 {
    padding-top: 5px;
    font-size: .8rem;
    padding-bottom: 60px;
    color: rgba(0, 0, 255, 0.3);
}
#mainfooter {
    color: #fff;
    background-color: rgba(0, 0, 128, 0.4);
    padding-top: 40px;
}
.footer-flex {
    max-width: 1260px;
    margin: auto;
    display: flex;
    border-bottom: 1px #fff solid;
}
.subfooter {
    padding: 10px 20px;
    max-width: 200px;
    margin: auto;
    align-items: flex-start;
    
}
.subfooter h2 {
    padding-bottom: 40px;
}
.subfooter h4 {
    padding: 10px 0;
}
.hostingplans, .links {
    max-width: 150px;
    margin: auto;
}
.information {
    max-width: 150px;
    margin: auto;
    flex-wrap: wrap;
    transform: translateY(-10%);
}
.aboutus {
    transform: translateY(-25%);
}
.copyright {
    max-width: 1260px;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    font-weight: 100;
    font-size: 0.9rem;
}